.characterCard {
  width: 4in;
  height: 6in;
  box-sizing: border-box;
  border: 2px solid #222;
  border-radius: 0.2in;
  padding: 0.15in;
  background: #faf9f6;
  font-family: "Roboto Mono", "Courier New", monospace;
  color:black;
  display: grid;
  grid-template-rows: repeat(8, 0.75in);
  grid-template-columns: 1fr;
  gap: 0.1in;
}